<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MTS_SUPPORT2"
         connectionString="Data Source=WIN-Q3HBJ1BJDBQ\SQLEXPRESS;Initial Catalog=MTS_SUPPORT2;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AdminEmail" value="admin@mts-support.local" />
    <add key="OperatorEmail" value="operator@mts-support.local" />
    <add key="EngineerEmail" value="engineer@mts-support.local" />
  </appSettings>
</configuration>
